html, body{
    height: 100%;
    margin: 0;
}

.main-wrap{
    display: grid;
    place-items: center;
    height: 100%;
}

.main-container{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    aspect-ratio: 1280 / 720;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
    gap: 10px;
}

.custom-text-box {
    float: right;
    width: 85%;
    height: 100%;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 0.7rem !important;
}
.form-control {
    font-size: 0.7rem !important;
}
.btn {
    font-size: 0.7rem !important;
}
  
.row0{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}

.m-main-container{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    aspect-ratio: 320 / 800;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.m-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m-custom-text-box {
    width: 90%;
    height: 100%;
    justify-self: center;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 0.7rem !important;

}

.row2{
    height: 100%;
    position: relative;
    bottom: 0;
}

.avatar-hover {
    transition: opacity 0.3s ease;
}

.avatar-hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

.submit-btn {
    position: absolute;
    width: 30%;
    left: 50%;
    bottom: 20%; /* Adjust this value as needed */
    transform: translateX(-50%);
    font-size: 30px !important;
}

@media (max-width: 1025px){
    .main-container{
        aspect-ratio: 1280 / 900;
    }
    .custom-text-box {
        font-size: 10px !important;
    }
    .form-control {
        font-size: 10px !important;
    }
    .btn{
        font-size: 10px !important;
    }
}