html, body{
    height: 100%;
    margin: 0;
}

.main-wrap{
    display: grid;
    place-items: center;
    height: 100%;
    padding-top: 3vw;
}

.main-container{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 1200px;
    aspect-ratio: 1280 / 720;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

.custom-text-box {
    float: right;
    width: 100%;
    max-width: 580px;
    height: 130%;
    max-height: 600px;
    margin-bottom: -100px;
    border: 3px solid #1973E8; /* Border weight */
    border-radius: 10px;     /* Border radius */
    outline: none;
    box-shadow: 0px 4px 8px #1973E8; /* Optional: box shadow */;
    align-self: end;

    display: grid;
    grid-template-rows: 3fr 1fr;
}
.row0{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}

.textbox2-con{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 40px;
}

.textbox2{
    justify-self: center;
    justify-items: center;
    grid-column: 2 / 3;
}

.textstyle1{
    color: #1461B4;
    font-family: "CocoFy";
    margin-left: 15px;
    font-size: 20px;
    word-spacing: 7px;
    text-indent: 30px
}

.textstyle2{
    color: #E94D19;
    font-family: "AltherGothic";
    font-size: 17px;
    text-indent: 30px
}

@media (max-width: 426px){
    .main-container{
        width: 85vw;
        aspect-ratio:  2 / 3;
    }

    .topleft-image{
        width: 135%;
    }

    .topright-image{
        width: 135%;
    }
}


.m-main-container{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 250px;
    aspect-ratio: 320 / 546;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.m-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m-custom-text-box {
    width: 90%;
    height: 190px;
    border: 3px solid #1973E8; /* Border weight */
    border-radius: 10px;     /* Border radius */
    outline: none;
    box-shadow: 0px 4px 8px #1973E8; /* Optional: box shadow */;
    justify-self: center;
    display: grid;
    grid-template-rows: 2fr 1fr;

}

.m-textbox2-con{
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.m-textbox2{
    justify-self: center;
    justify-items: center;
    grid-column: 2 / 3;
}

.m-textstyle1{
    color: #1461B4;
    font-family: "CocoFy";
    margin-left: 15px;
    font-size: 8px;
    word-spacing: 7px;
    text-indent: 5px
}

.m-textstyle2{
    color: #E94D19;
    font-family: "AltherGothic";
    font-size: 7px;
    text-indent: 30px;
}

.m-row2{
    height: 100%;
    position: relative;
    bottom: 0;
}

