@font-face{
    font-family: "CocoFy";
    src: url('./assets/fonts/cocofy.ttf') 
}

@font-face{
    font-family: "AltherGothic";
    src: url('./assets/fonts/althergothic.ttf') 
}

@font-face{
    font-family: "FutureExtra";
    src: url('./assets/fonts/futureextra.ttf') 
}